body{
    background-color: rgb(37, 42, 46);
   
}

.btn-color{
    background-color: rgb(132, 47, 132);
    border:none
}

.btn-color:hover{
    background-color: rgb(185, 86, 185);
}  

.cont-first{
    margin-right:0.5rem;

}
.cont-second{
    margin-left: 0.5rem;
}

.sidebar a{
    background-color: rgb(37, 42, 46);
    border: none;
    color:white;
    font-size: larger;
}

.sidebar a:active{
    background-color: rgb(185, 86, 185);
}

.sidebar a:hover{
    background-color: rgb(154, 117, 154);
}

.sidebar img{
    width: 16px;
}