body {
    background-color: rgb(37, 42, 46);

}

.fade #registerModal{
    transition: ease-in-out 0.15s linear;
}



.btn-color {
    background-color: rgb(132, 47, 132);
    border: none;
    --bs-btn-active-bg: rgb(217, 139, 217);
}

.btn-color:hover {
    background-color: rgb(185, 86, 185);
}


.sidebar a {

    background-color: rgb(28, 31, 34);
    border: none;
    color: white;
    font-size: larger;
}

.sidebar{
    --bs-list-group-border-radius : 0;
}

.sidebar a:active {
    background-color: rgb(185, 86, 185);
}

.sidebar a:hover {
    transition: all 0.15s ease-in-out;
    background-color: rgb(132, 47, 132);
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}

.sidebar img {
    width: 16px;
}

.btn-outline-success {
    --bs-btn-color: white;
    --bs-btn-border-color: rgb(132, 47, 132);
    --bs-btn-hover-bg: rgb(132, 47, 132);
    --bs-btn-hover-border-color: rgb(132, 47, 132);
    --bs-btn-active-bg: rgb(185, 86, 185)   ;
    --bs-btn-active-border-color: rgb(185, 86, 185);
}



.loginTextInput{
    padding: .5rem;
}

.note{
    border-top-right-radius: 0% ;
    border-bottom-right-radius: 0%;
}

.tasks{
    border-top-left-radius: 0% ;
    border-bottom-left-radius: 0%;
}

.cont-side{


    background-color: rgb(28, 31, 34);
    border-radius: 5px;

}