body {
    background-color: rgb(37, 42, 46);

}

.fade #registerModal{
    transition: ease-in-out 0.15s linear;
}



.btn-color {
    background-color: rgb(132, 47, 132);
    border: none;
    --bs-btn-active-bg: rgb(217, 139, 217);
}

.btn-color:hover {
    background-color: rgb(185, 86, 185);
}


.sidebar a {

    background-color: rgb(37, 42, 46);
    border: none;
    color: white;
    font-size: larger;
}

.sidebar{
    --bs-list-group-border-radius : 0;
}

.sidebar a:active {
    background-color: rgb(185, 86, 185);
}

.sidebar a:hover {
    transition: all 0.15s ease-in-out;
    background-color: rgb(132, 47, 132);
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}

.sidebar img {
    width: 16px;
}

.btn-outline-success {
    --bs-btn-color: white;
    --bs-btn-border-color: rgb(132, 47, 132);
    --bs-btn-hover-bg: rgb(132, 47, 132);
    --bs-btn-hover-border-color: rgb(132, 47, 132);
    --bs-btn-active-bg: rgb(185, 86, 185)   ;
    --bs-btn-active-border-color: rgb(185, 86, 185);
}



.loginTextInput{
    padding: .5rem;
}

.note{
    border-top-right-radius: 0% ;
    border-bottom-right-radius: 0%;
}

.tasks{
    border-top-left-radius: 0% ;
    border-bottom-left-radius: 0%;
}

.cont-side{


    /* background-color: rgb(28, 31, 34); */
    background-color:rgb(37, 42, 46);
    margin-top: 1em;

}


textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 50%;

}

.textarea-container {
    overflow-y: auto;
    max-height: 20rem; 
  }

  .note_input:focus{
    border: none;
    box-shadow: none;
  }

  .btn-save-changes{
    color: white;
    background-color: rgb(132, 47, 132);
    --bs-btn-hover-bg: rgb(114, 40, 114);
    --bs-btn-hover-color: white;
    --bs-btn-active-bg: rgb(114, 40, 114);
    --bs-btn-active-color: white;
  }


  .tasks-input:focus {
    outline: none !important;
    border:none;
    box-shadow: 0 0 10px rgba(132, 47, 132,0.7);
  }

  .search{
    width: 50%;
  }